extends layout-admin.pug

block content
    main#admin-panel-main
        .content-wrapper-border#admin-panel-sidemenu
            .content-wrapper 
                ul
                    li 
                        h3 Categories
                    li
                        h3 Games
                    li
                        h3 Users
        article
            h2 Manage everything from here, boss!
            .content-wrapper-border
                    .content-wrapper 
block scripts
    script.
        var oldTitle = document.title;
        var newTitle = oldTitle + ' - Admin panel';
        document.title = newTitle; 
