extends layout.pug 

block content 
    main 
        article
            .content-wrapper-border
                #form-wrapper.content-wrapper
                    form#register.form(action="/auth/register" method="POST")
                        h2 Register
                        p
                        | Username
                        input(type="text", name="username")
                        p
                        | Email
                        input(type="text", name="email")
                        p
                        | Password
                        input(type="password", name="password")
                        p
                        | Confirm password
                        input(type="password", name="confirmPassword")
                        button.submit-btn(type="submit") Enviar
                        
                    form#login.form(action="/auth/login" method="POST")
                        h2 Login
                        p 
                        | Email
                        input(type="text", name="email")
                        p 
                        | Password
                        input(type="text", name="password")
                        button.submit-btn(type="submit") Enviar
block scripts
    script.
        var oldTitle = document.title;
        var newTitle = oldTitle + ' - Authentication';
        document.title = newTitle; 