extends layouts/layout.pug 

block append head 
    - var isAuthPage = true

block content 
    main 
        article
            .content-wrapper-border
                #form-wrapper.content-wrapper
                    form.form(action="/auth/register" method="POST" autocomplete="off")    
                        h2 Register
                        div#register
                            input(type="text", name="username", placeholder="Username")
                            input(type="email", name="email", placeholder="Email")
                            input(type="password", name="password", placeholder="Password")
                            input(type="password", name="confirmPassword", placeholder="Confirm your password")
                        button.submit-btn(type="submit") Send   
                    form.form(action="/auth/login" method="POST" autocomplete="off")
                        h2 Login
                        div#login
                            input(type="email", name="email", placeholder="Email")
                            input(type="password", name="password", placeholder="Password")
                        button.submit-btn(type="submit") Send
block scripts
    script.
        var oldTitle = document.title;
        var newTitle = oldTitle + ' - Authentication';
        document.title = newTitle; 