extends layout-admin.pug 

block content
    main
        article
            h2 Are you sure you want to delete #{category_data.category_name}?
            .content-wrapper-border
                .content-wrapper#delete
                    form(action=`/admin_panel_category/delete/${category_data.category_id}` method="POST") 
                        button#delete-btn(type="submit") Delete
                    a(href="/admin-panel")
                        button#cancel-btn(type="button") Cancel
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
block scripts
    script.
        var newTitle = 'Confirm delete?';
        document.title = newTitle;