extends layout.pug

block content
    main
        .content-wrapper-border
            .content-wrapper
                .game-side-menu
        article
            .content-wrapper-border
                .content-wrapper
                    .game-view