doctype html
html(lang="es")
    block head
        link(rel="stylesheet", href="/styles/reset.css")
        link(rel="stylesheet", href="/styles/styles.css")
        link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
        meta(content='width=device-width', initial-scale='1', shrink-to-fit='no', name='viewport')
        title Timeshift Arcade
    block body
        header
            nav#admin-panel-nav
                div#header-logos
                    a(href="/")
                        img(src="/images/Header-logo-main.png", id="Timeshift-Header-Logo-1") 
                    p#Timeshift-Header-Logo-2 
                        i an online retrogaming experience 
                ul
                    li
                        a(href="#") Logout
    block content 
    block scripts 
    footer#admin-panel-footer
        #footer-wrapper
            p © Timeshift Arcade 2024 | Designed by Timeshift Studio
        