doctype html 
html(lang='es')
    block head
        script(src="/js/flickity.js") 
        link(rel="stylesheet", href="/styles/flickity.css")
        link(rel="stylesheet", href="/styles/home-slider.css")
        link(rel="stylesheet", href="/styles/reset.css")
        link(rel="stylesheet", href="/styles/styles.css")
        link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
        meta(content='width=device-width', initial-scale='1', shrink-to-fit='no', name='viewport')
        title Timeshift Arcade
    block body
        header
            nav
                div 
                    img(src="/images/TimeshiftHeaderLogo.png", id="Timeshift-Header-Logo-1")
                    p#Timeshift-Header-Logo-2 an online retrogaming experience
                ul 
                    li
                        a(href="#") Categories
                    li 
                        a(href="#") Sign In 
                    li 
                        a(href="#") Register 
        block content

        footer
            #footer-wrapper
                #social-wrapper
                    a(href="#")
                        img(src="/images/LogoInstagram.png", class="social")
                    a(href="#")  
                        img(src="/images/LogoTwitter.png", class="social")
                p © Timeshift Arcade 2024 | Designed by Timeshift Team