doctype html 
html(lang='en')
    block head
        script(src="/js/flickity.js")
        script(src="/js/functions.js")
        link(rel="stylesheet", href="/styles/flickity.css")
        link(rel="stylesheet", href="/styles/home-slider.css")
        link(rel="stylesheet", href="/styles/reset.css")
        link(rel="stylesheet", href="/styles/styles.css")
        link(rel="stylesheet", href="/styles/auth.css")
        link(rel="icon", href="/images/favicon.ico")
        meta(content='width=device-width', initial-scale='1', shrink-to-fit='no', name='viewport')
        title Timeshift Arcade
    block body
        header
            nav
                div#header-logos
                    a(href="/")
                        img(src="/images/Header-logo-main.png", id="Timeshift-Header-Logo-1") 
                    p#Timeshift-Header-Logo-2 
                        i an online retrogaming experience
                ul 
                    li
                        a(href="/categories") Categories
                    
                    if isLoggedIn
                        li
                            a(href=`/my_profile/${user_id}`) Profile
                    else if isAuthPage || isProfilePage
                        li
                            a(href='/') Home
                    else
                        li 
                            a(href="/auth") Login
        block content
        block scripts
        footer
            #footer-wrapper
                #social-wrapper
                    a(href="#")
                        img(src="/images/LogoInstagram.png", class="social")
                    a(href="#")  
                        img(src="/images/LogoTwitter.png", class="social")
                p © Timeshift Arcade 2024 | Designed by Timeshift Studio