extends layout.pug

block append head 
    - var isProfilePage = true

block content
    main 
        article
            .content-wrapper-border
                .content-wrapper
                    section#user-profile
                        img(src="/images/games-cover/pokemonred.jpg", class="profile-pic")
                        .profile-data
                            h3 #{user_data.username}
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi id officiis et porro nisi qui, corrupti temporibus illum repellat odit sed nobis. Earum, ea! Impedit perferendis distinctio nemo fugit natus.
                            a(href="/auth/logout" method="GET")
                                button Log out
            .content-wrapper-border
                .content-wrapper
                    h3 My games
                if mygames.length > 0
                    
                else 
                    p There are no games to show here
                

block scripts
    script.
        var username = '#{user_data.username}';
        var oldTitle = document.title;
        var newTitle = oldTitle + ' - ' + username;
        document.title = newTitle;