extends ../layouts/layout.pug

block content
    main
        article
            .content-wrapper-border
                .content-wrapper
                    h2 #{game.game_name}
                    .game-view
            .content-wrapper-border
                .content-wrapper
                    h2 How to play
                    p.htp-txt #{game.htp}
            .content-wrapper-border
                .content-wrapper
                    h2 Synopsis
                    p.htp-txt #{game.game_description}

            
block scripts
    script.
        var game_name = '#{game.game_name}';
        var oldTitle = document.title;
        var newTitle = oldTitle + ' - ' + game_name;
        document.title = newTitle; 