#admin-panel-nav {
    background-image: url(../images/Header-Background-admin.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#admin-panel-nav ul {
    width: auto;
}

#admin-panel-nav li {
    margin-left: -52px;
}

#admin-panel-main {
    width: 100vw;
    margin: 9.5em 0 5em 0;
    box-sizing: border-box;
}

#admin-panel-main h2 {
    margin:1em 0 1em 0;
}

#admin-panel-article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    box-sizing: border-box;
}

#admin-panel-sidemenu {
    width: 100%;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#admin-panel-sidemenu .content-wrapper-border {
    width: auto;
}

#admin-panel-sidemenu ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
}

#admin-panel-sidemenu li {
    padding: 0;
    margin: 10px 10px 0 10px;
}

#admin-panel-sidemenu li:hover {
    color: rgb(200, 200, 200);
}

#admin-panel-data {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.admin-panel-actions button{
    color: white;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    font-family: monospace;
    font-size: 1em;
    margin: 0 10px 0 10px;
}

.admin-panel-actions button:hover {
    color: rgb(200, 200, 200);
    border-color: rgb(200, 200, 200);
}

.admin-panel-actions button:active{
    color: white;
    border-color: white;
}

#admin-panel-footer {
    width: 100%;
    height: 5em;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
}

#delete {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 0 0 0;
}

#create-btn-container {
    width: 15em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.create-btn {
    background-color: limegreen;
    color: white;
    border-color: rgb(30, 185, 30);
}

.create-btn:hover {
    background-color: rgb(30, 185, 30);
    color: rgb(200, 200, 200);
    border-color: rgb(200, 200, 200);
}

.create-btn:active {
    background-color: limegreen;
    color: white;
    border-color: white;
}

#delete-btn {
    background-color: red;
    color: white;
    border-color: rgb(180, 0, 0);
}

#delete-btn:hover {
    background-color: rgb(180, 0, 0);
    color: rgb(200, 200, 200);
    border-color: rgb(200, 200, 200);
}

#delete-btn:active {
    background-color: red;
    color: white;
    border-color: white;
}

#edit-btn {
    background-color: rgb(35, 98, 159);
    color: white;
    border-color: rgb(15, 78, 139);
}

#edit-btn:hover {
    background-color: rgb(15, 78, 139);
    color: rgb(200, 200, 200);
    border-color: rgb(200, 200, 200);
}

#edit-btn:active {
    background-color: rgb(35, 98, 159);
    color: white;
    border-color: white;
}