:root {
    --TimePink: #F72585;
    --TimePurple: #7209B7;
    --TimeDarkBlue: #140438;
    --TimeBlue: #4361EE;
    --TimeLight: #4CC9F0;
}

@font-face {
    font-family: Minecraftia;
    src: url(../fonts/Minecraftia-Regular.ttf);
}

body {
    color: white;
    background-color: var(--TimeDarkBlue);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#Timeshift-Header-Logo-1 {
    width: 17em;
    image-rendering: pixelated;
    margin-left: 40px;
}

#Timeshift-Header-Logo-2 {
    font-family: Minecraftia;
    font-size: 18px;
    margin: 20px 0 0 0;
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    padding: 0.75em;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.75);
    border-bottom: 2px solid white;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    z-index: 1;
}

nav ul {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1em;
    margin-right: 3em;
}

nav a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: Minecraftia;
    padding: 0.5em 1em 0 1em;
}

nav a:hover {
    color: rgb(150, 150, 150);
    border: 1px solid white;
}

h2 {
    font-size: 24px;
    font-family: Minecraftia;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-top: 13em;
}

article {
    width: 90%;
    text-align: center;
}

article > * {
    margin: 2em;
}

#quote-home {
    text-align: center;
}

.content-wrapper-border {
    width: 70%;
    padding: 3px;
    margin: 2em 0 3.5em 0;
    background: linear-gradient(45deg, #F72585, #7209B7, #4361EE, #4CC9F0);
}

.content-wrapper {
    padding: 1rem;
    background-color: rgba(85, 85, 85, 0.75);
}

.content-wrapper > * {
    margin: 2em 1em 2em 1em;
}

p {
    margin-top: 1.25em;
    font-size: 1.25em;
    font-family: monospace;
    text-align: justify;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1em;
    border-top: 2px solid white;
    background-color: rgb(85, 85, 85);
    z-index: 2;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9)
}

#footer-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
}

#social-wrapper {
    display: flex;
    flex-direction: row;
    margin: 1em 0 2em 0;
}

.social {
    width: 80px;
    height: 80px;
    filter: grayscale(100%) drop-shadow(0px 0px 8px #000000);
    margin: 0 1em 0 1em;
    transition: 0.35s all ease-in-out;
}

.social:hover {
    filter: grayscale(0);
}